@model Firmeza.Core.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <h4>Producto: @Model.Nombre</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-9">
                @Model.Precio.ToString("C")
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Stock)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>
